<?xml version="1.0" encoding="UTF-8"?>
<panel version="14">
 <properties>
  <prop name="Name">
   <prop name="ru_RU.utf8"></prop>
  </prop>
  <prop name="Size">207 91</prop>
  <prop name="BackColor">_3DFace</prop>
  <prop name="RefPoint">0 0</prop>
  <prop name="InitAndTermRef">True</prop>
  <prop name="SendClick">False</prop>
  <prop name="RefFileName"></prop>
  <prop name="DPI">96</prop>
  <prop name="layoutType">None</prop>
 </properties>
 <events>
  <script name="ScopeLib" isEscaped="1"><![CDATA[const string dp = $dp;
bool txt_alias = false; // added 23.10.2020
const string DESCRIPTION = dpGetDescription(dp + &quot;.&quot;);
const string ALIAS = dpGetAlias(dp + &quot;.&quot;);

#property bool fp_win
public bool getFp_win(){
  return btn_fp.visible;
}
public void setFp_win(bool a){
  btn_fp.visible(a);
//   comt_txt.visible(a);
}

#property color nrmColor
public string getNrmColor(){
  return DI_Cir.backCol();
}
public void setNrmColor(string c){
  DI_Cir.backCol(c);
}

#property bool txtUpVis
public void setTxtUpVis(bool b){
  comt_txt.visible(b);
}
public bool getTxtUpVis(){
  return comt_txt.visible;
}
// add 23.20.2020
#property bool txtAlias
public void setTxtAlias(bool b){
  txt_alias = b;
}
public bool getTxtAlias(){
  return txt_alias;
}
#property bool txtRightVis
public void setTxtRightVis(bool b){
  com_right_text.visible(b);
}
public bool getTxtRightVis(){
  return com_right_text.visible;
}
// end add
/*#property string centerText
public void setCenterText(string s){
  txt_center.text(s);
}
public string getCenterText(){
  return txt_center.text;
}*/

]]></script>
  <script name="Initialize" isEscaped="1"><![CDATA[string normalColor;

main(){
  normalColor = DI_Cir.backCol;
  dpConnect(&quot;cbValue&quot;, dp + &quot;.status.sts_bit&quot;);
  if(txt_alias){
    comt_txt.text = dpGetAlias(dp + &quot;.&quot;);
    com_right_text.text = dpGetAlias(dp + &quot;.&quot;);
  }else{
    comt_txt.text = dpGetDescription(dp + &quot;.&quot;);
    com_right_text.text = dpGetDescription(dp + &quot;.&quot;);
  }
}

void cbValue(dyn_string dp, dyn_anytype value){

  bit32 sts = value[1];
  bool red  = getBit(sts, 0),
       yellow   = getBit(sts, 1),
       green   = getBit(sts, 2),
       sim = getBit(sts, 14),
       qerr = getBit(sts, 24);

  if(red){
    DI_Cir.backCol(&quot;{255,0,0}&quot;);
    txt_center.text = &quot;АВАР&quot;;}
  else if(yellow){
    DI_Cir.backCol(&quot;{255,255,0}&quot;);
    txt_center.text = &quot;ПРЕД&quot;;}
  else if(green){
    DI_Cir.backCol(&quot;{0,255,0}&quot;);
    txt_center.text = &quot;ОТКЛ&quot;;}
  else{
    DI_Cir.backCol(&quot;{255,255,255}&quot;);
    txt_center.text = &quot;&quot;;}

  bERR.visible(qerr);
  bERR_text.visible(qerr);
  bSIM.visible(sim);
  bSIM_text.visible(sim);
}
]]></script>
 </events>
 <shapes>
  <shape Name="btn_fp" shapeType="PUSH_BUTTON" layerId="0">
   <properties>
    <prop name="serialId">8</prop>
    <prop name="Type"></prop>
    <prop name="RefPoint">6.999999999999993 21.21233283291932</prop>
    <prop name="Enable">True</prop>
    <prop name="Visible">True</prop>
    <prop name="ForeColor">_Transparent</prop>
    <prop name="BackColor">{0,255,0,114}</prop>
    <prop name="TabOrder">7</prop>
    <prop name="ToolTipText">
     <prop name="ru_RU.utf8"></prop>
    </prop>
    <prop name="layoutAlignment">AlignNone</prop>
    <prop name="snapMode">Point</prop>
    <prop name="focusPolicy">NoFocus</prop>
    <prop name="Font">
     <prop name="ru_RU.utf8">MS Shell Dlg 2,-1,13,5,50,0,0,0,0,0</prop>
    </prop>
    <prop name="Location">6.999999999999998 15.50529131136049</prop>
    <prop name="Size">55 25</prop>
    <prop name="BorderStyle">None</prop>
    <prop name="Text">
     <prop name="ru_RU.utf8">PUSH_BUTTON1</prop>
    </prop>
   </properties>
   <events>
    <script name="Clicked" isEscaped="1"><![CDATA[main(mapping event){

//   if (getUserPermission(4)){
     ChildPanelOnCentral(&quot;faceplates\\DI\\DI.xml&quot;, ALIAS , makeDynString(&quot;$dp:&quot; + dp));
//   }
//   else {
//     DebugN(&quot;Недостаточно прав у пользователя&quot;);
//     ChildPanelOnCentral(&quot;faceplates/NoAccessRights.xml&quot;, &quot;Ошибка!&quot;, makeDynString(&quot;&quot;));
//   }
}
]]></script>
    <script name="Initialize" isEscaped="1"><![CDATA[main()
{
  this.backCol(&quot;_Transparent&quot;);
}]]></script>
   </events>
  </shape>
  <shape Name="com_right_text" shapeType="PRIMITIVE_TEXT" layerId="0">
   <properties>
    <prop name="serialId">12</prop>
    <prop name="Type"></prop>
    <prop name="RefPoint">49 48</prop>
    <prop name="Enable">True</prop>
    <prop name="Visible">True</prop>
    <prop name="ForeColor">_WindowText</prop>
    <prop name="BackColor">_Window</prop>
    <prop name="TabOrder">10</prop>
    <prop name="ToolTipText">
     <prop name="ru_RU.utf8"></prop>
    </prop>
    <prop name="layoutAlignment">AlignNone</prop>
    <prop name="snapMode">Point</prop>
    <prop name="DashBackColor">_Transparent</prop>
    <prop name="AntiAliased">False</prop>
    <prop name="LineType">[solid,oneColor,JoinBevel,CapProjecting,1]</prop>
    <prop name="BorderZoomable">False</prop>
    <prop name="FillType">[outline]</prop>
    <prop name="Geometry">1.063829787234043 0 0 1 -2.127659574468105 -16</prop>
    <prop name="Location">49 48</prop>
    <prop name="Font">
     <prop name="ru_RU.utf8">MS Shell Dlg 2,-1,11,5,50,0,0,0,0,0</prop>
    </prop>
    <prop name="Text">
     <prop name="ru_RU.utf8">comment</prop>
    </prop>
    <prop name="Distance">2</prop>
    <prop name="BorderOffset">2</prop>
    <prop name="Bordered">False</prop>
    <prop name="Fit">True</prop>
    <prop name="Transformable">False</prop>
    <prop name="TextFormat">[0s,,,AlignLeft|AlignVCenter]</prop>
   </properties>
  </shape>
  <shape Name="DI_Cir" shapeType="RECTANGLE" layerId="0">
   <properties>
    <prop name="serialId">14</prop>
    <prop name="Type"></prop>
    <prop name="RefPoint">70 72</prop>
    <prop name="Enable">True</prop>
    <prop name="Visible">True</prop>
    <prop name="ForeColor">{0,0,0}</prop>
    <prop name="BackColor">{255,255,255}</prop>
    <prop name="TabOrder">11</prop>
    <prop name="ToolTipText">
     <prop name="ru_RU.utf8"></prop>
    </prop>
    <prop name="layoutAlignment">AlignNone</prop>
    <prop name="snapMode">Point</prop>
    <prop name="DashBackColor">_Transparent</prop>
    <prop name="AntiAliased">False</prop>
    <prop name="LineType">[solid,oneColor,JoinBevel,CapProjecting,1]</prop>
    <prop name="BorderZoomable">False</prop>
    <prop name="FillType">[solid]</prop>
    <prop name="Geometry">1 0 0 1 -57 -46</prop>
    <prop name="BorderStyle">Normal</prop>
    <prop name="Location">70 72</prop>
    <prop name="Size">34 13</prop>
    <prop name="CornerRadius">0</prop>
    <prop name="Transformable">True</prop>
   </properties>
  </shape>
  <shape Name="bERR" shapeType="RECTANGLE" layerId="0">
   <properties>
    <prop name="serialId">3</prop>
    <prop name="Type"></prop>
    <prop name="RefPoint">73 30</prop>
    <prop name="Enable">True</prop>
    <prop name="Visible">True</prop>
    <prop name="ForeColor">{0,0,0}</prop>
    <prop name="BackColor">Red</prop>
    <prop name="TabOrder">2</prop>
    <prop name="ToolTipText">
     <prop name="ru_RU.utf8"></prop>
    </prop>
    <prop name="layoutAlignment">AlignNone</prop>
    <prop name="snapMode">Point</prop>
    <prop name="DashBackColor">_Transparent</prop>
    <prop name="AntiAliased">False</prop>
    <prop name="LineType">[solid,oneColor,JoinBevel,CapProjecting,3]</prop>
    <prop name="BorderZoomable">False</prop>
    <prop name="FillType">[solid]</prop>
    <prop name="Geometry">0.9285714285714279 0 0 1.004329004329004 -58.78571428571423 -0.1298701298701204</prop>
    <prop name="BorderStyle">Normal</prop>
    <prop name="Location">73 30</prop>
    <prop name="Size">15 10</prop>
    <prop name="CornerRadius">0</prop>
    <prop name="Transformable">True</prop>
   </properties>
  </shape>
  <shape Name="bERR_text" shapeType="PRIMITIVE_TEXT" layerId="0">
   <properties>
    <prop name="serialId">6</prop>
    <prop name="Type"></prop>
    <prop name="RefPoint">15.69419489965533 33.52507215007213</prop>
    <prop name="Enable">True</prop>
    <prop name="Visible">True</prop>
    <prop name="ForeColor">_WindowText</prop>
    <prop name="BackColor">_Window</prop>
    <prop name="TabOrder">5</prop>
    <prop name="ToolTipText">
     <prop name="ru_RU.utf8"></prop>
    </prop>
    <prop name="layoutAlignment">AlignNone</prop>
    <prop name="snapMode">Point</prop>
    <prop name="DashBackColor">_Transparent</prop>
    <prop name="AntiAliased">False</prop>
    <prop name="LineType">[solid,oneColor,JoinBevel,CapProjecting,1]</prop>
    <prop name="BorderZoomable">False</prop>
    <prop name="FillType">[outline]</prop>
    <prop name="Location">15.69419489965533 33.52507215007213</prop>
    <prop name="Font">
     <prop name="ru_RU.utf8">MS Shell Dlg 2,-1,8,5,50,0,0,0,0,0,Обычный</prop>
    </prop>
    <prop name="Text">
     <prop name="ru_RU.utf8">НЦ</prop>
    </prop>
    <prop name="Distance">2</prop>
    <prop name="BorderOffset">2</prop>
    <prop name="Bordered">False</prop>
    <prop name="Fit">True</prop>
    <prop name="Transformable">False</prop>
    <prop name="TextFormat">[0s,,,AlignHCenter|AlignVCenter]</prop>
   </properties>
  </shape>
  <shape Name="bSIM" shapeType="ELLIPSE" layerId="0">
   <properties>
    <prop name="serialId">2</prop>
    <prop name="Type"></prop>
    <prop name="RefPoint">68.5 60.5</prop>
    <prop name="Enable">True</prop>
    <prop name="Visible">True</prop>
    <prop name="ForeColor">{0,0,0}</prop>
    <prop name="BackColor">magenta</prop>
    <prop name="TabOrder">1</prop>
    <prop name="ToolTipText">
     <prop name="ru_RU.utf8"></prop>
    </prop>
    <prop name="layoutAlignment">AlignNone</prop>
    <prop name="snapMode">Point</prop>
    <prop name="DashBackColor">_Transparent</prop>
    <prop name="AntiAliased">True</prop>
    <prop name="LineType">[solid,oneColor,JoinBevel,CapProjecting,3]</prop>
    <prop name="BorderZoomable">False</prop>
    <prop name="FillType">[solid]</prop>
    <prop name="Geometry">0.4090909090909095 0 0 0.4330949948927475 12.9772727272727 14.79775280898878</prop>
    <prop name="Center">77 46.75</prop>
    <prop name="X-Radius">11</prop>
    <prop name="Y-Radius">11</prop>
   </properties>
  </shape>
  <shape Name="bSIM_text" shapeType="PRIMITIVE_TEXT" layerId="0">
   <properties>
    <prop name="serialId">7</prop>
    <prop name="Type"></prop>
    <prop name="RefPoint">44.47727272727273 34.46366164368118</prop>
    <prop name="Enable">True</prop>
    <prop name="Visible">True</prop>
    <prop name="ForeColor">_WindowText</prop>
    <prop name="BackColor">_Window</prop>
    <prop name="TabOrder">6</prop>
    <prop name="ToolTipText">
     <prop name="ru_RU.utf8"></prop>
    </prop>
    <prop name="layoutAlignment">AlignNone</prop>
    <prop name="snapMode">Point</prop>
    <prop name="DashBackColor">_Transparent</prop>
    <prop name="AntiAliased">False</prop>
    <prop name="LineType">[solid,oneColor,JoinBevel,CapProjecting,1]</prop>
    <prop name="BorderZoomable">False</prop>
    <prop name="FillType">[outline]</prop>
    <prop name="Location">44.47727272727273 34.46366164368118</prop>
    <prop name="Font">
     <prop name="ru_RU.utf8">MS Shell Dlg 2,-1,8,5,50,0,0,0,0,0,Обычный</prop>
    </prop>
    <prop name="Text">
     <prop name="ru_RU.utf8">И</prop>
    </prop>
    <prop name="Distance">2</prop>
    <prop name="BorderOffset">2</prop>
    <prop name="Bordered">False</prop>
    <prop name="Fit">True</prop>
    <prop name="Transformable">False</prop>
    <prop name="TextFormat">[0s,,,AlignHCenter|AlignVCenter]</prop>
   </properties>
  </shape>
  <shape Name="comt_txt" shapeType="PRIMITIVE_TEXT" layerId="0">
   <properties>
    <prop name="serialId">9</prop>
    <prop name="Type"></prop>
    <prop name="RefPoint">30 19</prop>
    <prop name="Enable">True</prop>
    <prop name="Visible">True</prop>
    <prop name="ForeColor">_WindowText</prop>
    <prop name="BackColor">_Window</prop>
    <prop name="TabOrder">8</prop>
    <prop name="ToolTipText">
     <prop name="ru_RU.utf8"></prop>
    </prop>
    <prop name="layoutAlignment">AlignNone</prop>
    <prop name="snapMode">Point</prop>
    <prop name="DashBackColor">_Transparent</prop>
    <prop name="AntiAliased">False</prop>
    <prop name="LineType">[solid,oneColor,JoinBevel,CapProjecting,1]</prop>
    <prop name="BorderZoomable">False</prop>
    <prop name="FillType">[outline]</prop>
    <prop name="Location">30 19</prop>
    <prop name="Font">
     <prop name="ru_RU.utf8">MS Shell Dlg 2,-1,11,5,50,0,0,0,0,0</prop>
    </prop>
    <prop name="Text">
     <prop name="ru_RU.utf8">comment</prop>
    </prop>
    <prop name="Distance">2</prop>
    <prop name="BorderOffset">2</prop>
    <prop name="Bordered">False</prop>
    <prop name="Fit">True</prop>
    <prop name="Transformable">False</prop>
    <prop name="TextFormat">[0s,,,AlignHCenter|AlignVCenter]</prop>
   </properties>
  </shape>
  <shape Name="txt_center" shapeType="PRIMITIVE_TEXT" layerId="0">
   <properties>
    <prop name="serialId">10</prop>
    <prop name="Type"></prop>
    <prop name="RefPoint">29 32</prop>
    <prop name="Enable">True</prop>
    <prop name="Visible">True</prop>
    <prop name="ForeColor">_WindowText</prop>
    <prop name="BackColor">_Window</prop>
    <prop name="TabOrder">9</prop>
    <prop name="ToolTipText">
     <prop name="ru_RU.utf8"></prop>
    </prop>
    <prop name="layoutAlignment">AlignNone</prop>
    <prop name="snapMode">Point</prop>
    <prop name="DashBackColor">_Transparent</prop>
    <prop name="AntiAliased">False</prop>
    <prop name="LineType">[solid,oneColor,JoinBevel,CapProjecting,1]</prop>
    <prop name="BorderZoomable">False</prop>
    <prop name="FillType">[outline]</prop>
    <prop name="Geometry">1.03125 0 0 1 -0.40625 0</prop>
    <prop name="Location">29 32</prop>
    <prop name="Font">
     <prop name="ru_RU.utf8">MS Shell Dlg 2,-1,11,5,50,0,0,0,0,0</prop>
    </prop>
    <prop name="Text">
     <prop name="ru_RU.utf8">ОТКЛ</prop>
    </prop>
    <prop name="Distance">2</prop>
    <prop name="BorderOffset">2</prop>
    <prop name="Bordered">False</prop>
    <prop name="Fit">True</prop>
    <prop name="Transformable">False</prop>
    <prop name="TextFormat">[0s,,,AlignHCenter|AlignVCenter]</prop>
   </properties>
  </shape>
 </shapes>
 <groups>
  <group parentSerial="-1" Name="SHAPE_GROUP1" serial="0">
   <properties>
    <prop name="shapeSerial">3</prop>
    <prop name="shapeSerial">6</prop>
    <prop name="layoutAlignment">AlignNone</prop>
   </properties>
  </group>
  <group parentSerial="2" Name="SHAPE_GROUP2" serial="1">
   <properties>
    <prop name="shapeSerial">2</prop>
    <prop name="shapeSerial">7</prop>
    <prop name="layoutAlignment">AlignNone</prop>
   </properties>
  </group>
  <group parentSerial="-1" Name="SHAPE_GROUP3" serial="2">
   <properties>
    <prop name="groupSerial">1</prop>
    <prop name="layoutAlignment">AlignNone</prop>
   </properties>
  </group>
  <group parentSerial="-1" Name="SHAPE_GROUP4" serial="3">
   <properties>
    <prop name="shapeSerial">9</prop>
    <prop name="layoutAlignment">AlignNone</prop>
   </properties>
  </group>
 </groups>
</panel>
